body {
    background: #fafafa;
}
.accordion {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Helvetica;
    max-width: 991px;
    min-width: 320px;
    margin: 50px auto;
    padding: 0 50px;
}
.accordion h1 {
    font-size: 32px;
    text-align: center;
}
.accordion-item {
    margin-top: 16px;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 17px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
    font-weight: 600;

}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #444;
    border-top: 1px dashed #ddd;
    padding: 10px 20px 20px;
    box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
}
.accordion-item
    input[type="checkbox"]:checked
    ~ .accordion-item-title
    .icon:after {
    content: "-";
    font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
    font-size: 20px;
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 14px;
}

@media screen and (max-width: 767px) {
    .accordion {
        padding: 0 16px;
    }
    .accordion h1 {
        font-size: 22px;
    }
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.5em + .99rem + 2px);
    padding: .375rem 1.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button {
    padding: 0.375rem 1.75rem;
    height: calc(2.5em + .99rem + 2px);
    /* width: 100%; */
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.desktop .group {
    position: absolute;
    width: 518px;
    height: 290px;
    top: 500px;
    left: 192px;
}
.desktop .p {
    /* width: 518px; */
    top: 999px;
    max-width: 850px;
    left: 730px;
    font-family: "DM Serif Display", Helvetica;
    color: #000000;
    font-size: 40px;
    line-height: 48px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 0;
}
.desktop .service-name {
    position: absolute;
    top: 0;
    left: 37px;
    font-family: "DM Serif Display", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: normal;
}


















*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background-image: conic-gradient(
    from 0deg at 0% 0%,
    #dd6ee5 0%,
    #4a00c3 100%
  );
  background-image: conic-gradient(
    from 0deg at 0% 0% in oklch,
    oklch(71% 0.2 325deg) 0%,
    oklch(4% 0.5 261deg) 100%
  );
}

.slider {
  --slider-width: 640px;
  --slider-height: 320px;
  --slider-bullets-spacing-y: 16px;
  --slider-bullets-height: 12px;
  --slider-shadow: 0px 10px 26px 3px rgb(0 0 0 / 10%);
  --slider-border-width: 8px;

  position: relative;
  display: flex;
  gap: 8px;
  align-items: flex-end;
  justify-content: center;
  width: var(--slider-width);
  height: calc(
    var(--slider-bullets-spacing-y) + var(--slider-bullets-height) +
      var(--slider-height) + (var(--slider-border-width) * 2)
  );
}

.slider__content {
  position: absolute;
  bottom: calc(var(--slider-bullets-spacing-y) + var(--slider-bullets-height));
  left: 50%;
  z-index: 5;
  width: var(--slider-width);
  height: var(--slider-height);
  overflow: hidden;
  border: var(--slider-border-width) solid #fff;
  border-radius: 16px;
  translate: -50% 0;

  > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: translate 0.5s ease-in-out;
    object-fit: cover;
  }
}

.slider__control {
  &::after {
    position: absolute;
    bottom: calc(
      50% + (var(--slider-bullets-spacing-y) + var(--slider-bullets-height)) / 2
    );
    z-index: 10;
    width: 32px;
    height: 64px;
    cursor: pointer;
    content: "";
    background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 6l-6 6l6 6"%2F%3E%3C%2Fsvg%3E')
      white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: width 0.2s cubic-bezier(0.11, 1.03, 0.82, 1.33);
    translate: 0 50%;
  }

  &:hover::after {
    width: 48px;
  }

  > input {
    display: block;
    height: var(--slider-bullets-height);
    aspect-ratio: 1/1;
    margin: 0;
    appearance: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 9999px;
    box-shadow: var(--slider-shadow);
    opacity: 0.5;
    transition: all 0.2s cubic-bezier(0.11, 1.03, 0.82, 1.33);
    scale: 0.75;

    &:hover {
      scale: 1;
    }

    &:checked {
      opacity: 1;
      scale: 1;
    }
  }
}

.slider__item {
  /* All slides except current */
  &:not(:has(input:checked)) {
    .slider__content > img {
      translate: -100% 0;
    }

    .slider__control::after {
      right: 100%;
      border-top-left-radius: 9999px;
      border-bottom-left-radius: 9999px;
    }
  }

  /* Current slide */
  &:has(input:checked) {
    z-index: 1;

    .slider__content > img {
      translate: 0 0;
    }

    .slider__control::after {
      display: none;
    }
  }

  /* Slides after current slide */
  &:has(input:checked) ~ & {
    z-index: 5;

    .slider__content > img {
      translate: 100% 0;
    }

    & .slider__control::after {
      right: auto;
      left: 100%;
      rotate: 180deg;
    }
  }

  /* Direct next slide */
  &:has(input:checked) + & {
    z-index: 7;
    display: block;
  }
}
